<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.downcase.capitalize, blog %></h2>
  <p class="blog-post-meta"><%= blog.created_at.strftime("%B %d, %Y") %> by <a href="#">Jacob</a></p>

  <p><%= blog.body %></p>
</div>
