<% provide :title, @blog.title %>
<div class="col-md-8 blog-main">
  <div class="blog-post">
    <h2 class="blog-post-title"><%= @blog.title.downcase.capitalize %></h2>
    <p class="blog-post-meta"><%= @blog.created_at.strftime("%B %d, %Y") %> by <a href="#">Jacob</a></p>

    <p><%= @blog.body %></p>

    <div>
      <%= link_to "Edit this post", edit_blog_path(@blog) %>
    </div>
  </div>
</div>

