<div class="row">
  <%= form_tag topics_path do %>
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag "topic[name]", nil, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
