<div>
  <%= portfolio.title %>
  <%= link_to "Show", show_portfolio_path(portfolio) %>
  <%= link_to "Edit", edit_portfolio_path(portfolio) %>
  <%= link_to "Delete", portfolio_path(portfolio), method: :delete %>
</div>
