<% [:notice, :error, :alert, :success].each do |level| %>
  <% unless flash[level].blank? %>
    <div id="flash-message" class="alert <%= flash_type level %>">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <%= sanitize flash[level] %>
    </div>
  <% end %>
<% end %>

