<% provide :title, "Home" %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-left tweets-area">
    <%= render partial: "tweet", collection: @tweets %>
  </div>
  <div class="col-md-2"></div>
</div>


