<% provide :title, "Contact" %>
<div>
  <h3>My location on Google Map</h3>
  <div id="map"></div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMin6dLwRHZydK1h5GWwpzTCKEn8Kx3Nc&callback=initMap">
  </script>
</div>
