@import "bootstrap";

.item {
  float: left;
  margin-left: 50px;
  color: red;
}

.clearfix {
  clear: both;
}

.blog-title {
  font-weight: bold;
  color: green;
}

.blog-created-time {
  font-style: italic;
}
